.nav-link {
    padding: 8px 20px 8px 20px !important;
}

#mynavbar {
    height: 100px;
}

#1 {
    background-color: yellow;
    height: 500px;
}

#2 {
    background-color: green;
    height: 500px;
}

#3 {
    background-color: grey;
    height: 500px;
}

#4 {
    background-color: red;
    height: 500px;
}